@import 'utils/colors.scss';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  flex: 100%;
  max-width: 100%;
  padding: 1em;

  .bar {
    width: 6px;
    height: 60px;
    background: white;
    display: inline-block;
    transform-origin: bottom center;
    animation: loading 1.5s ease-in-out infinite;
  }

  .bar1 {
    animation-delay: 0.1s;
  }

  .bar2 {
    animation-delay: 0.2s;
  }

  .bar3 {
    animation-delay: 0.3s;
  }

  .bar4 {
    animation-delay: 0.4s;
  }

  .bar5 {
    animation-delay: 0.5s;
  }

  .bar6 {
    animation-delay: 0.6s;
  }

  .bar7 {
    animation-delay: 0.7s;
  }

  .bar8 {
    animation-delay: 0.8s;
  }
}

@keyframes loading {
  0% {
    transform: scaleY(0.1);
    background: $white;
  }

  50% {
    transform: scaleY(1);
    background: $fu_c_peter_river;
  }

  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}

@media screen and (min-width: 768px) {
  .root {
    max-width: 50%;
  }
}

@media screen and (min-width: 1025px) {
  .root {
    max-width: 25%;
  }
}