@import 'utils/colors.scss';
@import 'utils/variables.scss';

.root {
  z-index: $sidebar_layer;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
    color: $white;

    &>img {
      width: 2em;
      height: 2em;
    }
  }

  .sidebar-trigger {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    transition: all 0.3s ease-in;
    background-color: $fu_c_belize_hole;
  }

  .sidebar-nav {
    position: fixed;
    top: 0;
    left: -15em;
    overflow: hidden;
    width: 15em;
    height: 100%;
    transition: all 0.3s ease-in;
    background-color: $fu_c_peter_river;
  }

  .sidebar-nav:hover,
  .sidebar-nav:focus,
  .sidebar-trigger:focus+.sidebar-nav,
  .sidebar-trigger:hover+.sidebar-nav {
    left: 0;
  }

  .sidebar-nav ul {
    position: absolute;
    top: 4em;
    left: 0;
    margin: 0;
    padding: 0;
    width: 15em;
  }

  .sidebar-nav ul li {
    width: 100%;
  }

  .sidebar-nav-link {
    position: relative;
    display: flex;
    align-items: center;
    height: 4em;
    transition: all 0.3s ease;

    &>.label {
      font-size: 1.2em;
      color: $white;
    }

    &:hover,
    &[data-active='true'] {
      background-color: $fu_c_belize_hole;
    }
  }

  @media screen and (min-width: 768px) {
    .sidebar-trigger {
      width: 4em;
    }

    .sidebar-nav {
      width: 4em;
      left: 0;
    }

    .sidebar-nav:hover,
    .sidebar-nav:focus,
    .sidebar-trigger:hover+.sidebar-nav,
    .sidebar-trigger:focus+.sidebar-nav {
      width: 15em;
    }
  }

  @media screen and (min-width: 1025px) {
    .sidebar-trigger {
      display: none;
    }

    .sidebar-nav {
      width: 15em;
    }

    .sidebar-nav ul {
      top: 1em;
    }
  }
}